<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF8">
    <title>Вход</title>
    <meta charset="UTF-8">
</head>
<body>
<form name="toUpBalance" method="post" id = 'auto'align = 'center'>
    <p><b>Введите номер и серию счета</b><br>
        <input name ="passport" type="text" size="40" id = "passport">
    <p><b>Введите номер счета</b><br>
        <input name ="account" type="text" size="40" id = "account">
    <p><b>Введите баланс</b><br>
        <input name ="balance" type="text" size="40" id = "balance">
    <p><input type="submit" value="Ввод" onclick="sendJSON()">
</form>
<script type="text/javascript">
    function sendJSON() {
        let form = document.forms["toUpBalance"];
        let fd = new FormData(form);
        let data = {};
        for (let [key, prop] of fd) {
            data[key] = prop;
        }
        data = JSON.stringify(data, null, 2);

        window.location.href = "http://localhost:8001/pagesForResult/topUpBalance/result";
        let xmlhttp;
        xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "/pagesForResult/topUpBalance/result", true);
        xmlhttp.setRequestHeader("Content-type", "application/json");
        xmlhttp.send(data);
        return false;
    }
</script>
</body>
</html>
