<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF8">
    <title>Welcome</title>
    <meta charset="UTF-8">
</head>
<body align = 'center'>
    <p>Добро пожаловать</p><br>
    <a href="/pagesForResult/addNewCard">Добавить новую карту</a><br>
    <a href="/pagesForResult/checkBalance">Проверить баланс счета</a><br>
    <a href="/pagesForResult/findAllCards">Показать все карты</a><br>
    <a href="/pagesForResult/topUpBalance">Пополнить счет</a><br>
</body>
</html>
